@use 'colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}

body {
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
	color: $dark-color;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
}

li {
	list-style: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 120rem;
	width: 100%;
}

.section {
	padding: 8rem 1rem;
}

.section-heading {
	font-size: 2.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
	color: $primary-color;
}

.section-description {
	font-size: 2rem;
	font-weight: 400;
}

.btn-cta {
	display: inline-block;
	position: relative;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	font-weight: 400;
	font-family: inherit;
	color: $white-color;
	border: 1.75px solid $dark-color;
	background-color: $dark-color;
	transition: color 0.3s;
	overflow: hidden;
	z-index: 0;
	&::after {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #fff;
		transform: translateX(-100%);
		transition: transform 0.3s;
		transform-origin: left;
		z-index: -1;
	}
}

.btn-cta:focus {
	outline: none;
}

.btn-cta:hover.btn-cta::after,
.btn-cta:active.btn-cta::after,
.btn-cta:focus.btn-cta::after {
	transform: translateX(0);
}
.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus {
	color: $dark-color;
}

// PRELOADER
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white-color;
	z-index: 999;
	transition: opacity 0.7s, visibility 0.7s;
}

.preloader .ring {
	position: absolute;
	width: 17.5rem;
	height: 17.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.preloader .ring span {
	color: $dark-color;
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 2px;
}

.preloader .ring::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 5px $dark-color;
	border-radius: 50%;
	animation: ring 2s linear infinite;
	opacity: 0.7;
}

.preloader.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

// BTN NAV
.menu-btn,
.logo-mobile {
	display: none;
}

// NAV
.nav {
	position: fixed;
	width: 100%;
	background-color: $white-color;
	z-index: 99;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 10rem;
		width: 100%;
		max-width: 140rem;
		border-bottom: 1px solid $primary-color;
		.nav__logo {
			img {
				width: 10rem;
			}
		}
		.nav-links {
			display: flex;
			font-size: 1.6rem;
			font-weight: 700;
			height: 100%;
			&__item {
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					padding: 1rem 3rem;
					color: $primary-color;
					background-color: transparent;
					transition: color 0.3s, background-color 0.3s;
					&:hover,
					&:active,
					&:focus {
						outline: none;
						background-color: $primary-color;
						color: $white-color;
					}
				}
			}
		}
	}
}

// HEADER
.header {
	display: flex;
	align-items: center;
	max-width: 140rem;
	margin: 0 auto;
	padding: 12rem 1rem 8rem 1rem;
	.header-left {
		width: 50%;
		&__heading {
			font-size: 3.2rem;
			font-weight: 700;
			color: $primary-color;
		}
		&__text {
			font-size: 1.8rem;
			margin: 1.5rem 0;
			max-width: 80%;
		}
		&__cta {
			margin-top: 1rem;
		}
	}
	.header-right {
		width: 50%;
		filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.08));
	}
}

// ABOUT
.about {
	background-color: #fcfcfc;
	margin: 0 3rem;
}
.about-content {
	display: flex;
	gap: 10rem;
	.about-left {
		width: 50%;
		&__img {
			position: sticky;
			top: 5rem;
			filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.08));
		}
	}
	.about-right {
		overflow: hidden;
		width: 50%;
		.strategy-list {
			padding: 1rem;
			margin-top: 3rem;
			.strategy-item {
				display: flex;
				align-items: center;
				gap: 2.5rem;
				opacity: 0;
				transform: translateX(100%);
				&:not(:last-child) {
					margin-bottom: 3.5rem;
				}
				&__number {
					font-size: 8rem;
					font-weight: 700;
					color: transparent;
					-webkit-text-stroke: 2px $dark-color;
				}
				.strategy-heading {
					font-size: 2rem;
					font-weight: 400;
					color: $primary-color;
					margin-bottom: 0.5rem;
				}
				.strategy-text {
					font-size: 1.6rem;
					font-weight: 400;
				}
			}
		}
	}
}

.strategy-item.appear {
	animation: appearFromLeft 0.6s forwards;
}

// SHOWCASE
.showcase {
	overflow: hidden;
}
.showcase-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 6rem;
	margin-top: 8rem;
	.showcase-item {
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.05);
		border: 1px solid $primary-color;
		opacity: 0;
		transform: translateX(100%);
		&__icon {
			margin-left: 1rem;
			width: 6rem;
			opacity: 0.65;
			margin-bottom: 2rem;
		}
		&__heading {
			font-size: 2rem;
			font-weight: 400;
			color: $primary-color;
		}
		&__underline {
			color: transparent;
			background-color: $primary-color;
			margin: 2rem 0;
			height: 1px;
			opacity: 0.65;
			width: 100%;
		}
		&__text {
			font-size: 1.6rem;
		}
	}
}

.showcase-item.appear {
	animation: appearFromLeft 0.6s forwards;
	&:nth-child(2) {
		animation-delay: 0.1s;
	}
	&:nth-child(3) {
		animation-delay: 0.2s;
	}
	&:nth-child(4) {
		animation-delay: 0.3s;
	}
	&:nth-child(5) {
		animation-delay: 0.4s;
	}
}

// BANNER
.banner {
	display: flex;
	max-width: 150rem;
	margin: 0 auto;
	.banner-left {
		width: 50%;
		padding: 6rem 6rem;
		border-radius: 1rem;
		border-left: 1px solid $dark-color;
		border-top: 1px solid $dark-color;
		border-bottom: 1px solid $dark-color;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
		&__text {
			font-size: 1.6rem;
			span {
				font-weight: bold;
				color: $primary-color;
			}
		}
	}
	.banner-right {
		border-radius: 1rem;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
		padding: 6rem 6rem;
		background-color: $primary-color;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
		&__text {
			text-align: center;
			color: $white-color;
			font-size: 2.5rem;
			margin-bottom: 3rem;
		}
		.banner-cta {
			width: 200px;
			border: none;
		}
	}
}

// PRICES
.price-box {
	margin: 8rem 0;
	display: flex;
	justify-content: space-around;
	.price-card {
		position: relative;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-width: 40rem;
		min-height: 50rem;
		max-height: 50rem;
		background-color: $primary-color;
		box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
		&::before {
			position: absolute;
			content: '';
			background-color: transparent;
			border: 2px solid $dark-color;
			border-radius: 1rem;
			top: 5%;
			left: 5%;
			width: 100%;
			height: 100%;
		}
		&__heading {
			font-size: 4rem;
			color: $white-color;
		}
		&__cost {
			color: $white-color;
			font-size: 3rem;
			font-weight: 200;
		}
		.price-dots {
			position: absolute;
			left: 5%;
			bottom: 5%;
		}
	}

	.price-list {
		padding: 2rem 1rem;
		&__item {
			display: flex;
			align-items: center;
			gap: 1rem;
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
			&:last-child {
				transition: transform 0.6s ease;
				transform: translateY(-300%);
			}
			img {
				width: 2rem;
			}
			font-size: 1.6rem;
		}
		.btn-price {
			font-size: 1.6rem;
			font-weight: 500;
			padding: 0.5rem;
			margin-left: 2rem;
			margin-top: 1rem;
			background: none;
			border: none;
			border-bottom: 2px solid $primary-color;
			transition: color 0.3s;
			cursor: pointer;
			&:hover,
			&:active,
			&:focus {
				color: $primary-color;
			}
			&:focus {
				outline: none;
			}
		}
	}
}

.price-list__item:last-child.active {
	transform: translateY(0);
}

.info-price {
	text-align: center;
	.section-description {
		margin-bottom: 3rem;
	}
}

.reversed {
	.price-card {
		order: 0;
	}
	.price-list {
		order: -1;
	}
}

.price-list__item.hide {
	overflow: hidden;
	max-height: 0px;
	opacity: 0;
	transition: all 0.3s;
}

.price-list__item.show {
	max-height: 30rem;
	transition: all 0.6s ease;
	opacity: 1;
}

.price-box .price-list__item.n-transform {
	transform: translateY(0);
	transition: none;
}

// PORTFOLIO
.portfolio {
	background-color: #fcfcfc;
	margin: 0 3rem;
	.section-description,
	.section-heading {
		text-align: center;
	}
	.portfolio-box {
		margin-top: 8rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5rem;
		.portfolio-item {
			min-height: 40rem;
			img {
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

// FAQ
.faq {
	.section-description,
	.section-heading {
		text-align: center;
	}
	.faq-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 8rem;

		.faq-item {
			margin: 1.5rem;
			width: 60%;
			&__question {
				display: flex;
				width: 100%;
				justify-content: space-between;
				cursor: pointer;
				border: none;
				background-color: $dark-color;
				color: $white-color;
				font-family: inherit;
				font-size: 1.8rem;
				padding: 1rem;
				gap: 5rem;
				transition: background-color 0.3s;
				img {
					width: 2rem;
					transition: transform 0.3s ease-in-out;
				}
				&:hover,
				&:active,
				&:focus {
					background-color: $primary-color;
				}
			}
			&__answer {
				max-height: 0px;
				overflow: hidden;
				transition: all 0.3s;
			}
			&__text {
				font-size: 1.6rem;
				padding: 1rem;
			}
		}
	}
}

.faq-item.active .faq-item__answer {
	max-height: 30rem;
	transition: all 1s;
}

.faq-item.active .faq-item__question .arrow-down {
	transform: rotate(180deg);
}

// CONTACT
.contact {
	position: relative;
	&::after {
		position: absolute;
		content: '';
		top: 0;
		width: 80%;
		right: 50%;
		transform: translateX(50%);
		height: 2px;
		background-color: $primary-color;
	}
}

.contact-box {
	display: flex;
	gap: 5rem;
	.contact-left {
		display: flex;
		flex-direction: column;
		width: 50%;
		.social-box {
			margin-top: 3rem;
			margin-left: 2rem;
			display: flex;
			gap: 3rem;
			a {
				width: 4rem;
			}
		}
	}
	.contact-right {
		width: 50%;
		.form {
			padding: 2rem;
			.form-container {
				position: relative;
				margin-bottom: 3.5rem;
				.simple-label {
					position: absolute;
					top: 50%;
					left: 0;
					transition: transform 0.3s, font-size 0.3s;
					transform: translateY(-50%);
					font-family: inherit;
					font-size: 1.6rem;
					margin-left: 1rem;
				}
				input,
				textarea {
					padding: 1rem;
					width: 100%;
					display: inline-block;
					border: none;
					border-bottom: 2px solid $primary-color;
					background-color: none;
				}
				textarea {
					resize: none;
					min-height: 20rem;
					outline: none;
				}
				input:focus {
					outline: none;
				}
			}
		}
	}
}

.form-container input:focus ~ .simple-label {
	color: $primary-color;
	font-size: 1.2rem !important;
	transform: translateY(-30px) !important;
}

.label-textarea {
	position: absolute;
	top: 6%;
	left: 0;
	transition: transform 0.3s, font-size 0.3s;
	transform: translateY(-50%);
	font-family: inherit;
	font-size: 1.6rem;
	margin-left: 1rem;
}

.form-container textarea:focus ~ .label-textarea {
	color: $primary-color;
	font-size: 1.2rem !important;
	transform: translateY(-30px) !important;
}

// ANIMATIONS
@keyframes appearFromLeft {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes ring {
	0% {
		transform: rotate(0deg);
		box-shadow: 1px 5px 2px #4a72f5;
	}
	50% {
		transform: rotate(180deg);
		box-shadow: 1px 5px 2px #1044ed;
	}
	100% {
		transform: rotate(360deg);
		box-shadow: 1px 5px 2px #4a72f5;
	}
}

// RESPONSIVE
@media (max-width: 1100px) {
	.about-content {
		gap: 2rem;
	}
	.showcase-content {
		grid-template-columns: repeat(2, 1fr);
	}

	.price-box {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		.price-card {
			width: 80%;
		}
	}
	.reversed .price-card {
		order: -1;
	}
	.info-price {
		padding: 0 2rem;
	}

	.portfolio .portfolio-box {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 922px) {
	html {
		scroll-padding-top: 0;
	}
	.menu-btn {
		display: flex;
		position: fixed;
		top: 3rem;
		right: 3rem;
		width: 5rem;
		height: 5rem;
		border-radius: 1rem;
		background-color: $white-color;
		border: none;
		cursor: pointer;
		padding: 0.5rem;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
		z-index: 101;
		&__bars {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			transform: rotate(0);
			transition: transform 1s;
			span {
				position: absolute;
				display: block;
				width: 100%;
				height: 4px;
				background-color: $dark-color;
				box-shadow: 1px 1px 3px rgba(242, 242, 242, 0.1);
				border-radius: 2rem;
				transition: all 0.3s 1s;
				&:nth-child(1) {
					top: 25%;
					transform: translateY(-25%);
					width: 60%;
					left: 0;
				}
				&:nth-child(2) {
					width: 100%;
					transform: scaleX(1);
					opacity: 1;
				}
				&:nth-child(3) {
					top: 75%;
					transform: translateY(-75%) rotate(0);
					right: 0;
					width: 60%;
				}
			}
		}
	}
	.menu-btn.active {
		.menu-btn__bars {
			transform: rotate(315deg);
			span {
				&:nth-child(2) {
					transform: scaleX(0);
					opacity: 0;
				}
				&:nth-child(1) {
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
				}
				&:nth-child(3) {
					top: 50%;
					width: 100%;
					transform: translateY(-50%) rotate(90deg);
				}
			}
		}
	}
	.nav {
		height: 100%;
		transform: translateX(-100%);
		transition: transform 0.4s 1s;
		.wrapper {
			height: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-bottom: none;
		}
	}
	.nav.active {
		transform: translateX(0);
	}
	.nav .wrapper .nav__logo img {
		width: 20rem;
	}

	.nav .wrapper .nav-links {
		height: auto;
		&__item {
			a {
				font-size: 3rem;
				margin-bottom: 2rem;
			}
		}
	}

	.nav .wrapper .nav-links {
		flex-direction: column;
	}
	.section {
		padding: 6rem 2rem;
	}
	.contact-box {
		flex-direction: column;
		align-items: center;
	}
	.contact-box .contact-left,
	.contact-box .contact-right {
		width: 80%;
	}
	.faq .faq-box .faq-item {
		width: 80%;
	}

	.banner {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.banner .banner-left {
		border: 1px solid $dark-color;
	}
	.banner .banner-left,
	.banner .banner-right {
		width: 80%;
		border-radius: 1rem;
	}
	.about-content {
		flex-direction: column;
		align-items: center;
	}
	.about-content .about-left,
	.about-content .about-right {
		width: 80%;
	}
	.header {
		flex-direction: column;
		align-items: center;
		padding: 20rem 2rem 2rem 2rem;
	}
	.header .header-left,
	.header .header-right {
		width: 80%;
	}
	.section-description,
	.section-heading {
		text-align: center;
	}

	.logo-mobile {
		display: block;
		position: absolute;
		top: 1rem;
		left: 2rem;
		img {
			width: 10rem;
		}
	}
}

@media (max-width: 768px) {
	.footer .footer-box,
	.footer .footer-bottom {
		flex-direction: column;
		text-align: center;
		gap: 5rem;
	}
	.showcase-content,
	.portfolio .portfolio-box {
		grid-template-columns: repeat(1, 1fr);
	}
	.header {
		padding: 15rem 2rem 2rem 2rem;
	}
}

@media (max-width: 576px) {
	.about-content .about-right .strategy-list .strategy-item {
		flex-direction: column;
		gap: 1rem;
	}
	.about-content .about-right .strategy-list,
	.info-price,
	.contact-box .contact-right .form {
		padding: 0;
	}
	.about-content .about-right .strategy-list .strategy-item__number {
		align-self: start;
	}
	.banner .banner-left,
	.banner .banner-right {
		padding: 2rem;
	}
	.portfolio,
	.about {
		margin: 0;
	}
	.price-box {
		margin: 1rem 0rem;
	}
	.banner-left .section-heading {
		margin-bottom: 2rem;
	}
	.banner .banner-right__text {
		font-size: 2.2rem;
	}
	.price-box .price-card {
		min-height: 40rem;
		min-width: 100%;
	}
	.header .header-left,
	.header .header-right,
	.about-content .about-left,
	.about-content .about-right,
	.banner .banner-left,
	.banner .banner-right,
	.faq .faq-box .faq-item,
	.contact-box .contact-left,
	.contact-box .contact-right {
		width: 100%;
	}
	.header .header-left__text {
		max-width: 100%;
	}
	.faq .faq-box {
		overflow: hidden;
	}
	.faq .faq-box .faq-item__question {
		gap: 2rem;
	}
	.nav .wrapper .nav-links__item a {
		font-size: 2.8rem;
	}
}
