*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

$primary-color: #4a72f5;
// $primary-color: #2176ff;
$dark-color: #211e1c;
$dark-color: #1e1b18;
$white-color: #fff;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}

body {
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
	color: $dark-color;
}

.wrapper {
	margin: 0 auto;
	max-width: 120rem;
	width: 100%;
}

.section-heading {
	font-size: 2.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
	color: $primary-color;
}

.section-description {
	font-size: 2rem;
	font-weight: 400;
}

.header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10rem;
	color: $primary-color;
	border-bottom: 1px solid $primary-color;
	background-color: $white-color;
	&__heading {
		font-size: 3rem;
	}

	&__logo {
		.logo {
			width: 10rem;
		}
	}
	.backToMain {
		position: relative;
		font-size: 1.8rem;
		padding: 1rem 3rem;
		display: inline-block;
		color: $white-color;
		background-color: $dark-color;
		transition: color 0.3s;
		border: 1.75px solid $dark-color;
		font-family: inherit;
		font-weight: 400;
		z-index: 0;
		overflow: hidden;
		text-decoration: none;
		&::after {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			width: 100%;
			height: 100%;
			background-color: #fff;
			transform: translateX(-100%);
			transition: transform 0.3s;
			transform-origin: left;
			z-index: -1;
		}
	}
}

.backToMain:focus {
	outline: none;
}

.backToMain:hover.backToMain::after,
.backToMain:active.backToMain::after,
.backToMain:focus.backToMain::after {
	transform: translateX(0);
}
.backToMain:hover,
.backToMain:active,
.backToMain:focus {
	color: $dark-color;
}

.details {
	padding: 8rem 1rem;
	margin-top: 8rem;
}

.details-list {
	margin: 8rem auto 0 auto;
	max-width: 100rem;
	width: 100%;
	list-style: none;
	&__item {
		margin-bottom: 5rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid $primary-color;
	}
	.details-header {
		font-size: 2rem;
		font-weight: 400;
		color: $primary-color;
		margin-bottom: 1.5rem;
	}
	.details-content {
		font-size: 1.6rem;
	}
}

@media (max-width: 576px) {
	.header {
		flex-wrap: wrap;
		border-bottom: none;
		padding: 0 1rem;
	}
	.header__logo {
		width: 40%;
	}
	.header__heading {
		font-size: 2rem;
		width: 60%;
	}

	.header .backToMain {
		padding: 1rem;
		font-size: 1.3rem;
		margin-left: auto;
	}
}
